<% content_for :css do %>

<% end %>

<div id="content">
  <div id="about-bg" data-parallax="scroll" data-image-src="<%= asset_path('aboutbg.jpg')%>" >
    <div class="container page-caption-container"> 
      <div class="caption-content">
        <div id="about-title-container" class="page-title-container">
          <p class="page-title">ONCE UPON A TIME</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content-section container">
    <h1>Our story</h1>
    <p>We started this in 2011, when Toro, a graduate student of Fudan University, became a teacher at Pingfeng Junior Middle School in Ningxia Province, one of the poorest places in China. During that year, we came up to know the real "Chinese style" poverty, with people lacking both in substantial and soft power. However, children there still own beautiful minds despite their poverty. After I saw photos taken by Toro, it occurred to me that I could sponsor a child by reduce some of my daily expenses and saving a portion of my payments as an intern. Then, I informed Toro about my idea and gained support from him. To accomplish this, we opened bank accounts and began to send money, with all of our genuineness and hopefulness. Otherwise, as an intern in an NGO in Shanghai for more than 2 years, I knew what they need is not only material support but also love and concern from the society. Therefore, I decided to write to that girl, hoping that we can establish a relationship, just like friends. When I first read the letter from LP (pseudonym), I couldn't even help crying though I was surrounded by dozens of people in subway. I teared because behind the naive writing skill, these characters suggested maturity a living pressure far beyond her age, indicating enormous burdens on her shoulder, which should never, ever, belong to such a child like her. I suddenly feel so embarrassed by my effeminate compared to my little LP’s maturity and planned to share some burdens for her, and them. Just fight for our future and grow up together!
    </p>
    <p>I always shared some news from LP with my friends and most of them thought this meaningful and joined me. In April 2012, we, together as a team of eight people, went to Pingfeng Middle School in Ningxia Province and visited LP in order to get a more specified view of her and her life there. Although it cost us two days in road by switching from flight to province-to province shoreline(kind of like greyhound in U.S.A) to bus to cars, that was still a definitely valueless trip and made us feel more unswerving on pursuing our little career and dream. We saw what is the real poverty in China; we saw the children’s eyes full of curiosity of the world outside the mountain there, we saw dreams there, not only from them but also from us. Based on this belief, we established Xiaoshu's website, through which we learn about each others' perspiration and persistence. People all over the world, thus attracting more, including you, meanwhile, can see our belief and effort, to join us. And as an encouragement, I promised my children under my sponsorship there that I would return back to be companion with them when they take their life important issue, the National University Entrance Examination, three years later. 
    </p>
    <p>Time is flying fast. Three year later, I was a second-year CIPA fellow in Cornell Universities in U.S.A. During the three years, I kept in deep touch with my child and saw her growing up through letters and phone call. I missed her so much to see her growth directly by my eyes. And I have developed more sponsorship to lead resources there. Finally, to accomplish my previous promise, I asked for leave for the last semester before graduation and return back to Pingfeng. This time, I have been a volunteer teacher in Pingfeng Middle School to engage more into their study. During my volunteer experience, more and more friends of mine saw how poor it is and how incredible living condition there and come to join us to sponsor a child there.  When I return back to Cornell, I developed 21 sponsorship there, covering each class in 7th and 8th grade. Besides sponsorship, I also raise fund to donate each class a set of encyclopedia, putting in their little classroom corner libraries in each class for children to borrow.
    </p>
    <p>Our story is still continuing, there will never be an end.
    </p>
    <p><i>By: Amy Da, Founder of XiaoShu</i></p>
    

    <h1>Our vision</h1>
    <p>Xiaoshu is trying to helping more poverty  children for their education gradually with the mind trivial, but consistent; interaction more than finance support; and being earnest and constant.
    </p>
    <h2>Trivial, but consistent.
    </h2>
    <p>Contributions might be trivial each time, but please insist. Instead of overloading yourself by sending expensive gifts or taking dramatical efforts, we expect your contribution to be valuable, helpful and consistent.
    </p>
    <h2>Connections and interactions are more than financial support.
    </h2>
    <p>Between children and us, we treat each other as friends or even family members. In this type of relationship, our responsibilities are more about mentoring them. Other than providing financial support, we, as mentors, establish mental connection and interaction. Through mails, we encourage them to face difficulties, guide them to become mature and help them to open their minds.
    </p>
    <h2>We grow together.
    </h2>
    <p>We grow together, which is our key. In other words, we, as sponsors, are equivalent rather than superior to these children. These children are usually more considerate and mature due to special experiences and environments. Some of them are taking responsibilities as grown-ups despite their ages. We, who grew up in warm and comfortable incubators, can absolutely learn tremendously from them.
    </p>
    <h2>Be earnest and constant.
    </h2>
    <p>What we focus on is not how many children get sponsored every year, but instead how much cares and helps each child gain and whether these connections can last long.
    </p>
    
    <h1>Our name</h1>
    <p><b>Xiaoshu</b> is a Chinese phrase meaning a young tree. We selected it as the emblem of our website because what it suggests wonderfully suits our belief and principles. First, a young tree keeps growing no matter how little and slow that procedure is, which is quite similar to our belief that our help might be minor but consistent for poverty children education. On the other hand, a tree in it teenage is full of energy but presents tranquilly. Analogously, what we are doing are nuance and peaceful, not so impressive to be known by majority but tremendously energetic. Finally, I hope everyone standing under our tree can feel the love and warmness. We are friends, family rather than sponsors and serving object. We grow simultaneously and accompany each other eternally. It is the nature of hour human beings.
    </p>
  </div>
</div>
